:root {
  --color-main-light: #f5efe6;
  --color-main-shade: #e8dfca;
  --color-accent-light: #aebdca;
  --color-accent-shade: #7895b2;

  --color-link: #7c6543;
  --color-link-hover: #443827;
}

// Main Styles

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--color-main-light);
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr 10ch 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-accent-shade);

  img {
    height: 4rem;
  }

  pre {
    text-align: center;
    font-size: 3em;
    color: white;
  }

  nav {
    padding-right: 2rem;

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      list-style: none;
      gap: 2rem;

      li {
        padding: 0;
        font-size: 1.5em;
        a {
          color: var(--color-accent-light);
          text-decoration: none;

          &:hover {
            transition: color 0.2s;
            color: white;
          }
        }
      }
    }
  }
}

section {
  padding-block: 2rem;
  padding-inline: 1rem;

  > * + * {
    margin-top: 1em;
  }

  h1 {
    text-align: center;
  }
}

footer {
  background-color: var(--color-main-shade);
  text-align: center;
  padding: 1rem;
  min-height: 6rem;

  a {
    color: var(--color-link);
    text-decoration: none;
    background-image: linear-gradient(var(--color-link) 0 0);
    background-repeat: no-repeat;
    // background-position: 100% 100%;
    background-size: var(--size, 0%) 100%;
    transition: color 0.2s, background-size 0.2s;
    cursor: pointer;

    &:hover {
      --size: 100%;
      color: white;
    }
  }
}

// Mixins

@mixin darken-overlay($darken-amount: 0.45) {
  &::before {
    content: "";
    position: absolute;
    background-color: rgba($color: #000000, $alpha: $darken-amount);
    inset: 0;
  }
}

.max-width {
  max-width: 50rem;
  margin-inline: auto;
}

// Specific Styles

.hero {
  width: 100%;
  height: min(75vh, 40rem);
  position: relative;
  display: grid;
  background-color: darkgrey;
  place-items: center;
  font-size: 2em;
  background-image: url(../assets/crowd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  > * {
    grid-area: 1 / -1;
  }

  .hero-text {
    color: white;
    text-align: center;
    text-shadow: 0 0 10px #000f;
    z-index: 1;
  }

  @include darken-overlay();
}

.padding-top {
  > * + * {
    margin-top: 1em;
  }
}

.image-cut-in {
  background-color: var(--color-accent-light);
  padding: 0;

  article {
    display: grid;
    grid-template-columns: 50% 50%;

    .left {
      grid-column: 1 / 2;
    }

    .right {
      grid-column: 2 / 3;
    }

    .cut-in-text {
      padding: 1rem;
      text-align: center;
    }
    .cut-in-image {
      position: relative;
      height: 20rem;

      &.right {
        clip-path: polygon(20% 0, 100% 0%, 100% 100%, 10% 100%);
      }
      &.left {
        clip-path: polygon(0 0, 80% 0, 90% 100%, 0 100%);
      }

      img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
      }
      @include darken-overlay(0.2);
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  article {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-accent-light);
    width: 40ch;
    height: 40ch;
    box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
    transition: background-color 0.3s;

    .article-image {
      height: 80%;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .article-text {
      margin-block: auto;
      padding-inline: 1rem;
    }

    &:hover {
      background-color: var(--color-accent-shade);
      transform: translate(10px 10px);
    }
  }
}

.center-image {
  height: 400px;
  overflow: hidden;

  img {
    width: 100%;
  }
}
